<a href="https://colab.research.google.com/github/DW8888/Data602/blob/main/07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section.

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

I used the Brooklyn 2023-2024 rolling sales data from the NYC Department of Finance (https://www.nyc.gov/site/finance/property/property-rolling-sales-data.page). I chose this dataset because it contains familiar and relatable information with various data types. It was also straightforward yet offered opportunities for manipulation and analysis.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include:

* Summary statistics means, medians, quartiles,
* Missing value information
* Any other relevant information about the dataset.

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables.

8. Filter your data based on some condition.

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group.
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups.

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [1]:
# Load the file after uploading to Colab
from google.colab import files
uploaded = files.upload()


file_name = "rollingsales_brooklyn.xlsx"

Saving rollingsales_brooklyn.xlsx to rollingsales_brooklyn.xlsx

In [4]:
data = pd.ExcelFile(file_name)

# Check the sheet names
print(data.sheet_names)

# Load the specific sheet "Brooklyn"
brooklyn_data = data.parse('Brooklyn', skiprows=4)

# Display the first few rows of the dataset
print(brooklyn_data.head())

['Brooklyn']
   BOROUGH NEIGHBORHOOD  BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  \
0        3   BATH BEACH  01 ONE FAMILY DWELLINGS                    1   6361
1        3   BATH BEACH  01 ONE FAMILY DWELLINGS                    1   6361
2        3   BATH BEACH  01 ONE FAMILY DWELLINGS                    1   6373
3        3   BATH BEACH  01 ONE FAMILY DWELLINGS                    1   6373
4        3   BATH BEACH  01 ONE FAMILY DWELLINGS                    1   6376

   LOT  EASEMENT BUILDING CLASS AT PRESENT             ADDRESS  \
0   15       NaN                        A5  59 BAY 10TH STREET
1   22       NaN                        A5  43 BAY 10TH STREET
2   54       NaN                        S1    1948 86TH STREET
3   77       NaN                        A9  60 BAY 23RD STREET
4   13       NaN                        A9  69 BAY 25TH STREET

  APARTMENT NUMBER  ...  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  \
0              NaN  ...                1.0               0.0          1.0
1              NaN  ...                1.0               0.0          1.0
2              NaN  ...                1.0               1.0          2.0
3              NaN  ...                1.0               0.0          1.0
4              NaN  ...                1.0               0.0          1.0

   LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE  \
0            1933.0             1660.0      1930.0                          1
1            2900.0             1660.0      1930.0                          1
2            1917.0             2870.0      1931.0                          1
3            1933.0             2372.0      1925.0                          1
4            2868.0             2330.0      1915.0                          1

   BUILDING CLASS AT TIME OF SALE SALE PRICE  SALE DATE
0                              A5    1185000 2024-08-08
1                              A5    1275000 2023-12-07
2                              S1          0 2023-11-28
3                              A9     925000 2023-12-04
4                              A9    1360000 2024-05-06

[5 rows x 21 columns]

In [25]:

brooklyn_data_cleaned = brooklyn_data.iloc[:, :6].copy()

# Rename
brooklyn_data_cleaned.columns = ['NEIGHBORHOOD', 'TYPE', 'BLOCK', 'TAX CLASS', 'SALE PRICE', 'SALE DATE']

# Convert SALE PRICE to numeric
brooklyn_data_cleaned['SALE PRICE', 'BLOCK'] = pd.to_numeric(brooklyn_data_cleaned['SALE PRICE'], errors='coerce')

# Convert SALE DATE to datetime and extract Month-Year
brooklyn_data_cleaned['SALE DATE'] = pd.to_datetime(brooklyn_data_cleaned['SALE DATE'], errors='coerce')
brooklyn_data_cleaned['MONTH-YEAR'] = brooklyn_data_cleaned['SALE DATE'].dt.to_period('M')

# Drop rows with missing or invalid data
brooklyn_data_cleaned.dropna(subset=['SALE PRICE', 'SALE DATE'], inplace=True)

# Display the cleaned data
print(brooklyn_data_cleaned.head())

  NEIGHBORHOOD                     TYPE  BLOCK TAX CLASS  SALE PRICE  \
0   BATH BEACH  01 ONE FAMILY DWELLINGS   6361         1     1185000
1   BATH BEACH  01 ONE FAMILY DWELLINGS   6361         1     1275000
2   BATH BEACH  01 ONE FAMILY DWELLINGS   6373         1           0
3   BATH BEACH  01 ONE FAMILY DWELLINGS   6373         1      925000
4   BATH BEACH  01 ONE FAMILY DWELLINGS   6376         1     1360000

   SALE DATE  (SALE PRICE, BLOCK) MONTH-YEAR
0 2024-08-08              1185000    2024-08
1 2023-12-07              1275000    2023-12
2 2023-11-28                    0    2023-11
3 2023-12-04               925000    2023-12
4 2024-05-06              1360000    2024-05

In [17]:
brooklyn_data_cleaned = brooklyn_data_cleaned.drop(columns=["SALE DATE"])
print(brooklyn_data_cleaned.head())

  NEIGHBORHOOD                     TYPE  BLOCK TAX CLASS  SALE PRICE  \
0   BATH BEACH  01 ONE FAMILY DWELLINGS   6361         1     1185000
1   BATH BEACH  01 ONE FAMILY DWELLINGS   6361         1     1275000
2   BATH BEACH  01 ONE FAMILY DWELLINGS   6373         1           0
3   BATH BEACH  01 ONE FAMILY DWELLINGS   6373         1      925000
4   BATH BEACH  01 ONE FAMILY DWELLINGS   6376         1     1360000

  MONTH-YEAR
0    2024-08
1    2023-12
2    2023-11
3    2023-12
4    2024-05

In [18]:
neighborhood_counts = brooklyn_data_cleaned.groupby('NEIGHBORHOOD')['NEIGHBORHOOD'].count().reset_index(name='COUNT')

# Sort by count in descending order
neighborhood_counts = neighborhood_counts.sort_values(by=['COUNT'], ascending=False)

# Display the results
print(neighborhood_counts)

                NEIGHBORHOOD  COUNT
6               BOROUGH PARK   1202
2         BEDFORD STUYVESANT   1106
1                  BAY RIDGE    827
26             FLATBUSH-EAST    766
24             EAST NEW YORK    763
51            SHEEPSHEAD BAY    717
12                  CANARSIE    673
33                 GRAVESEND    652
18             CROWN HEIGHTS    627
46                PARK SLOPE    613
34                GREENPOINT    593
43       OCEAN PARKWAY-NORTH    569
53               SUNSET PARK    565
11                  BUSHWICK    532
3                BENSONHURST    526
25          FLATBUSH-CENTRAL    507
39                   MIDWOOD    426
55         WILLIAMSBURG-EAST    422
36                   MADISON    405
56        WILLIAMSBURG-NORTH    395
8           BROOKLYN HEIGHTS    385
7             BRIGHTON BEACH    385
28            FLATBUSH-NORTH    368
38               MARINE PARK    345
44       OCEAN PARKWAY-SOUTH    321
42                OCEAN HILL    320
14              CLINTON HILL    314
23             DYKER HEIGHTS    310
21      DOWNTOWN-FULTON MALL    296
0                 BATH BEACH    289
19             CYPRESS HILLS    285
17              CONEY ISLAND    269
48          PROSPECT HEIGHTS    249
45            OLD MILL BASIN    237
54      WILLIAMSBURG-CENTRAL    231
35                KENSINGTON    230
9                BROWNSVILLE    229
57        WILLIAMSBURG-SOUTH    218
13           CARROLL GARDENS    209
29                 FLATLANDS    205
30               FORT GREENE    190
4               BERGEN BEACH    185
47          PARK SLOPE SOUTH    184
27  FLATBUSH-LEFFERTS GARDEN    173
20     DOWNTOWN-FULTON FERRY    168
58           WINDSOR TERRACE    167
5                BOERUM HILL    165
32                   GOWANUS    134
15               COBBLE HILL    120
31           GERRITSEN BEACH    118
59           WYCKOFF HEIGHTS    114
37           MANHATTAN BEACH    114
40                MILL BASIN    110
22        DOWNTOWN-METROTECH     96
49                  RED HOOK     69
16          COBBLE HILL-WEST     69
50                   SEAGATE     51
10             BUSH TERMINAL     51
41                 NAVY YARD     19
52              SPRING CREEK     11

In [22]:
# Filter for Park Slope sales
park_slope_data = brooklyn_data_cleaned[brooklyn_data_cleaned['NEIGHBORHOOD'] == 'PARK SLOPE']

# Group by type and calculate mean sale price
type_mean_price = park_slope_data.groupby('TYPE')['SALE PRICE'].mean().reset_index(name='MEAN SALE PRICE')

# Display the results
print(type_mean_price)
print("\nmin: ",type_mean_price.min(),
      "\nmax:", type_mean_price.max())

                                 TYPE  MEAN SALE PRICE
0             01 ONE FAMILY DWELLINGS     3.393859e+06
1             02 TWO FAMILY DWELLINGS     1.567522e+06
2           03 THREE FAMILY DWELLINGS     1.459301e+06
3               04 TAX CLASS 1 CONDOS     1.396671e+06
4          05 TAX CLASS 1 VACANT LAND     0.000000e+00
5      07 RENTALS - WALKUP APARTMENTS     2.722754e+06
6    08 RENTALS - ELEVATOR APARTMENTS     0.000000e+00
7        09 COOPS - WALKUP APARTMENTS     1.037075e+06
8      10 COOPS - ELEVATOR APARTMENTS     9.184542e+05
9       12 CONDOS - WALKUP APARTMENTS     1.306483e+06
10    13 CONDOS - ELEVATOR APARTMENTS     1.556672e+06
11             14 RENTALS - 4-10 UNIT     1.946364e+06
12  15 CONDOS - 2-10 UNIT RESIDENTIAL     1.641522e+06
13                     17 CONDO COOPS     7.750507e+05
14                 22 STORE BUILDINGS     7.000000e+06
15          31 COMMERCIAL VACANT LAND     3.055556e+05
16          33 EDUCATIONAL FACILITIES     1.350000e+07
17                   44 CONDO PARKING     3.580000e+05
18      47 CONDO NON-BUSINESS STORAGE     1.980352e+06

min:  TYPE               01 ONE FAMILY DWELLINGS
MEAN SALE PRICE                        0.0
dtype: object
max: TYPE               47 CONDO NON-BUSINESS STORAGE
MEAN SALE PRICE                       13500000.0
dtype: object

In [26]:
# Convert 'NEIGHBORHOOD' to lowercase
brooklyn_data_cleaned['NEIGHBORHOOD'] = brooklyn_data_cleaned['NEIGHBORHOOD'].str.lower()

# Display the updated DataFrame
print(brooklyn_data_cleaned.head())

  NEIGHBORHOOD                     TYPE  BLOCK TAX CLASS  SALE PRICE  \
0   bath beach  01 ONE FAMILY DWELLINGS   6361         1     1185000
1   bath beach  01 ONE FAMILY DWELLINGS   6361         1     1275000
2   bath beach  01 ONE FAMILY DWELLINGS   6373         1           0
3   bath beach  01 ONE FAMILY DWELLINGS   6373         1      925000
4   bath beach  01 ONE FAMILY DWELLINGS   6376         1     1360000

   SALE DATE  (SALE PRICE, BLOCK) MONTH-YEAR
0 2024-08-08              1185000    2024-08
1 2023-12-07              1275000    2023-12
2 2023-11-28                    0    2023-11
3 2023-12-04               925000    2023-12
4 2024-05-06              1360000    2024-05

In [27]:
# Back to upper
brooklyn_data_cleaned['NEIGHBORHOOD'] = brooklyn_data_cleaned['NEIGHBORHOOD'].str.upper()

# Display the updated DataFrame
print(brooklyn_data_cleaned.head())

  NEIGHBORHOOD                     TYPE  BLOCK TAX CLASS  SALE PRICE  \
0   BATH BEACH  01 ONE FAMILY DWELLINGS   6361         1     1185000
1   BATH BEACH  01 ONE FAMILY DWELLINGS   6361         1     1275000
2   BATH BEACH  01 ONE FAMILY DWELLINGS   6373         1           0
3   BATH BEACH  01 ONE FAMILY DWELLINGS   6373         1      925000
4   BATH BEACH  01 ONE FAMILY DWELLINGS   6376         1     1360000

   SALE DATE  (SALE PRICE, BLOCK) MONTH-YEAR
0 2024-08-08              1185000    2024-08
1 2023-12-07              1275000    2023-12
2 2023-11-28                    0    2023-11
3 2023-12-04               925000    2023-12
4 2024-05-06              1360000    2024-05

Grouping two cols

In [31]:
grouped_data = brooklyn_data_cleaned.groupby(['NEIGHBORHOOD', 'BLOCK'])['SALE PRICE'].mean().reset_index()
sorted_data = grouped_data.sort_values(by=['NEIGHBORHOOD', 'BLOCK'], ascending=[True, True])

# Display the results
print(sorted_data.head())
print(sorted_data.tail())

  NEIGHBORHOOD  BLOCK    SALE PRICE
0   BATH BEACH   6357  4.141667e+05
1   BATH BEACH   6358  9.533333e+05
2   BATH BEACH   6359  6.356400e+05
3   BATH BEACH   6360  1.500000e+05
4   BATH BEACH   6361  1.128333e+06
         NEIGHBORHOOD  BLOCK     SALE PRICE
5426  WYCKOFF HEIGHTS   3363   50000.000000
5427  WYCKOFF HEIGHTS   3379  433333.333333
5428  WYCKOFF HEIGHTS   3386       0.000000
5429  WYCKOFF HEIGHTS   3393  980705.000000
5430  WYCKOFF HEIGHTS   3400  650000.000000

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

This dataset contains a wealth of information, particularly about various property types. I observed significant price variations between neighborhoods, an area I would explore further given more time. Additionally, I'd like to visualize the sales data geographically by plotting them on a map. To do this I would need to augment the dataset with some longitude and lattitude cols pertaining to the block numbers.